<main class="container text-light col-mid-6 container-fluid" style="min-height: 90vh;display:flex;flex-direction: column; justify-content: left;">
  <div class="row ">
    <div class=" d-flex p-4 justify-content-center flex-column align-items-center " >
      <h1 style="padding-top: 3rem;">{{welcome}}</h1>

      <h3><u> Operations</u></h3>
    </div>
  </div>
  <div class="input-group " >
    <div class=" container-fluid pb-3 col-md-6 ">

      
      <a href="/admin/findusers"><button type="button" class="btn btn-primary btn-lg btn-block m-2 w-100">Find Users</button></a>
      <a href="/admin/adduser"><button type="button" class="btn btn-success btn-lg btn-block m-2 w-100">Add Users</button></a>
      <a href="/logout"><button type="button" class="btn btn-secondary btn-lg btn-block m-2 w-100">{{button}}</button></a>


      

    </div>
  </div>

           
</main>